#ignore all png image files
*.png

#ignore checkpoints created by jupyter notebook
.ipynb_checkpoints/

#ignore vscode debugging folder
.vscode/

#ignore pycache folder
__pycache__/

#ignore the publication
paper.pdf

#ignore numerical date folder
data/
